

ErrorDocument 400 /400.php
ErrorDocument 401 /401.php
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
ErrorDocument 500 /500.php

<files *.html>
	SetOutputFilter DEFLATE
</files>
<files *.php>
	SetOutputFilter DEFLATE
</files>
<files *.eot>
	SetOutputFilter DEFLATE
</files>
<files *.ttf>
	SetOutputFilter DEFLATE
</files>
<Files imgtumb.php>
         SetOutputFilter NONE
</Files>
<Files fileopen2.php>
         SetOutputFilter NONE
</Files>
<Files blank.html>
	Header set Cache-Control "max-age=7257600, must-revalidate"
</Files>
<Files blank.png>
	Header set Cache-Control "max-age=7257600, must-revalidate"
</Files>
<FilesMatch ".(js|css|flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav|gif|jpg|jpeg|png|swf|webm|ttf|eot)$">
	Header set Cache-Control "max-age=3600, must-revalidate, private"
</FilesMatch>

RewriteEngine on

RewriteRule ^lang-([0-9]+).html$ ./index.php?language_id=$1

RewriteRule ^uploads/(.*?)$ ./system/fileopen2.php?url=./uploads/$1 
RewriteRule uploads/ - [F]
RewriteRule system/imgtumbcache/ - [F]

RewriteRule ^richtext-([0-9]+)-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=richtext&sectie=$1&type=select&Id=$2&language_id=$3
RewriteRule ^richtext-([0-9]+)-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=richtext&sectie=$1&type=select&Id=$2
RewriteRule ^richtext-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=richtext&sectie=$1&language_id=$2
RewriteRule ^richtext-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=richtext&sectie=$1

RewriteRule ^photogallery-([0-9]+)-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=photogallery&sectie=$1&type=select&Id=$2&language_id=$3
RewriteRule ^photogallery-([0-9]+)-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=photogallery&sectie=$1&type=select&Id=$2
RewriteRule ^photogallery-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=photogallery&sectie=$1&language_id=$2
RewriteRule ^photogallery-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=photogallery&sectie=$1

RewriteRule ^(.*?)-([0-9]+)-([0-9]+)-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=$1&sectie=$2&type=select&Id=$3&subid=$4&language_id=$5
RewriteRule ^(.*?)-([0-9]+)-([0-9]+)-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=$1&sectie=$2&type=select&Id=$3&subid=$4

RewriteRule ^(.*?)-([0-9]+)-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=$1&sectie=$2&type=select&Id=$3&language_id=$4
RewriteRule ^(.*?)-([0-9]+)-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=$1&sectie=$2&type=select&Id=$3
RewriteRule ^(.*?)-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=$1&sectie=$2&language_id=$3
RewriteRule ^(.*?)-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=$1&sectie=$2



RewriteRule ^lijst-([0-9]+)-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=lijst&sectie=$1&type=select&Id=$2&language_id=$3
RewriteRule ^lijst-([0-9]+)-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=lijst&sectie=$1&type=select&Id=$2
RewriteRule ^lijst-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=lijst&sectie=$1&language_id=$2
RewriteRule ^lijst-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=lijst&sectie=$1



RewriteRule ^Form-([0-9]+)-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=form&sectie=$1&type=select&Id=$2&language_id=$3
RewriteRule ^Form-([0-9]+)-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=form&sectie=$1&type=select&Id=$2
RewriteRule ^Form-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=form&sectie=$1&language_id=$2
RewriteRule ^Form-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=form&sectie=$1
RewriteRule ^form-([0-9]+)-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=form&sectie=$1&type=select&Id=$2&language_id=$3
RewriteRule ^form-([0-9]+)-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=form&sectie=$1&type=select&Id=$2
RewriteRule ^form-([0-9]+)-lang-([0-9]+).html$ ./indexnew.php?plugin=form&sectie=$1&language_id=$2
RewriteRule ^form-([0-9]+)-(.*?).html$ ./indexnew.php?plugin=form&sectie=$1



RewriteCond %{QUERY_STRING} ^(.*&)?sectie=([0-9]+) [NC] 
RewriteRule ^./lijstview\.php$ indexnew.php?plugin=lijst&sectie=%1 [NC,L]


